.App {
  text-align: center;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: transform 0.5s;
}
.images:hover {
  transform: scale(1.1);
}
